.root {
    -c-gold: #ffb400; /* hsl(42, 100%, 50%) */
    -c-green: #00ff00; /* hsl(120, 100%, 50%) */
    -c-grey-00: #121212; /* hsl(0, 0%, 7%) */
    -c-grey-01: #1e1e1e; /* hsl(0, 0%, 12%) */
    -c-grey-03: #252525; /* hsl(0, 0%, 15%) */
    -c-grey-04: #272727; /* hsl(0, 0%, 15%) */
    -c-grey-08: #2d2d2d; /* hsl(0, 0%, 18%) */
    -c-off-white: #fcfcf4; /* hsl(60, 57%, 97%) */
    -c-red: #ff0000; /* hsl(0, 100%, 50%) */

    -fx-font-family: "sans-serif";
    -fx-font-size: 24;
    -fx-background-color: -c-grey-00;
}

.tooltip {
    -fx-show-delay: 500ms;
    -fx-font-size: 12;
}

.progress-bar > .track  {
    -fx-background-color: -c-grey-03;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-background-color: -c-gold;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.bold {
    -fx-font-weight: bold;
}

.btn {
    -fx-cursor: hand;
}

.label, .header {
    -fx-alignment: center;
}

.categories, .category {
    -fx-alignment: top-center;
}

.header {
    -fx-background-color: -c-gold;
    -fx-text-fill: -c-grey-03;
}

.header .taskbar {
    -fx-padding: 8 8 0 0;
    -fx-alignment: top-right;
    -fx-pref-height: 32;
    -fx-min-height: 32;
}

.header .title {
    -fx-font-size: 72;
    -fx-font-weight: bold;
}

.header .score {
    -fx-font-size: 36;
    -fx-padding: 0 0 36 0;
}

.content {
    -fx-padding: 48;
}

.categories {
    -fx-hgap: 24;
    -fx-vgap: 24;
}

.category {
    -fx-background-color: -c-grey-01;
    -fx-padding: 8;
}

.category .name {
    -fx-padding: 8 16 8 16;
    -fx-text-fill: -c-gold;
    -fx-font-weight: bold;
}

.question .value {
    -fx-text-fill: -c-off-white;
}

.question .background {
    -fx-fill: -c-grey-04;
    -fx-stroke-type: inside;
    -fx-stroke-width: 2;
}

.question .background:hover {
    -fx-fill: -c-grey-08;
    -fx-stroke: -c-gold;
}

.question.correct .background {
    -fx-fill: #23301d; /* hsl(101, 25%, 15%) */
}

.question.incorrect .background {
    -fx-fill: #301d1d; /* hsl(0, 25%, 15%) */
}

.answer {
    -fx-background-color: -c-grey-01;
    -fx-alignment: top-center;
    -fx-padding: 48;
}

.answer .category-value {
    -fx-padding: 24;
    -fx-text-alignment: center;
}

.answer .category-value .label {
    -fx-text-fill: -c-gold;
}

.answer .question {
    -fx-padding: 24;
    -fx-text-fill: -c-off-white;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.answer .input-container {
    -fx-padding: 24;
    -fx-max-width: 480;
}

.answer .input-container .text-input {
    -fx-background-color: -c-grey-04;
    -fx-text-fill: -c-off-white;
    -fx-highlight-text-fill: -c-grey-03;
    -fx-highlight-fill: -c-gold;
}

.answer .submit-container {
    -fx-background-color: -c-gold;
    -fx-alignment: center;
}

.correct-view, .incorrect-view {
    -fx-background-color: -c-grey-01;
    -fx-alignment: top-center;
    -fx-padding: 48;
}

.correct-view .main {
    -fx-text-fill: -c-green;
    -fx-font-size: 48;
    -fx-padding: 24;
}

.incorrect-view .main {
    -fx-text-fill: -c-red;
    -fx-font-size: 48;
    -fx-padding: 24;
}

.correct-view .text-flow, .incorrect-view .text-flow {
    -fx-text-alignment: center;
    -fx-padding: 24;
}

.correct-view .text-flow .label, .incorrect-view .text-flow .label {
    -fx-text-fill: -c-off-white;
}

.correct-view .interact-to-skip, .incorrect-view .interact-to-skip {
    -fx-padding: 24 24 0 24;
    -fx-font-size: 12;
    -fx-text-fill: -c-off-white;
}

.correct-view .progress-bar, .incorrect-view .progress-bar {
    -fx-pref-height: 12;
    -fx-max-width: 480;
}
