/**
 * Colors
 * YellowGold: #ffb400
 * Grey: #262626
 * White: #ffffff
 * Aqua: #33e6ed
 * Black: #000000
 * OffWhite: #fcfcf4
 */

.root {
    -fx-font-family: "sans-serif";
    -fx-font-size: 24;
    -fx-background-color: #121212;
}

.label, .header {
    -fx-alignment: center;
}

.categories, .category {
    -fx-alignment: top-center;
}

.header {
    -fx-background-color: #ffb400;
    -fx-text-fill: #262626;
    -fx-padding: 36;
}

.header .title {
    -fx-font-size: 72;
    -fx-font-weight: bold;
}

.header .score {
    -fx-font-size: 36;
}

.categories {
    -fx-padding: 24;
    -fx-hgap: 24;
    -fx-vgap: 24;
}

.category {
    -fx-background-color: #1e1e1e;
    -fx-padding: 8;
}

.category .name {
    -fx-padding: 8 16 8 16;
    -fx-text-fill: #ffb400;
    -fx-font-weight: bold;
}

.question .value {
    -fx-text-fill: #fcfcf4;
}

.question .background {
    -fx-fill: #272727;
    -fx-stroke-type: inside;
    -fx-stroke-width: 2;
}

.question:hover .background {
    -fx-fill: #2d2d2d;
    -fx-stroke: #ffb400;
}

.question.correct .background {
    -fx-fill: #1e221c;
}

.question.incorrect .background {
    -fx-fill: #231d1d;
}
